<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All irregular verbs</title>
    <link href="../../static/css/stylesheet.css" th:href="@{../../static/css/stylesheet.css}" rel="stylesheet" />

</head>
<body>

<a href="/irregularverbs/home">
    <button> HOME</button>
</a>
<br>
<br>

<!--TODO add .js-->
<span id="lastAnswer">Last answer was: //TODO</span>
</br>

<div class="inline">
    progress:
    <span th:text="${#ctx.session.progress}"></span>
    ->
    <span th:text="${#ctx.session.limit}"></span>

</div>

<p>Verb1 Verb2 Verb3</p>

<form method="get" th:action="@{/irregularverbs/fill2and3verb}">
    <div id="irregular-verbs-table">
        <span th:text="${#ctx.session.randomIrregularVerb.getVerb1()}"></span>
        <span> <input type="text" name="answer1"/> </span>
        <span>  <input type="text" name="answer2"/> </span>
    </div>
    <button>Submit!</button>
</form>

</body>
</html>