<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All irregular verbs</title>
    <link href="../../static/css/stylesheet.css" th:href="@{../../static/css/stylesheet.css}" rel="stylesheet"/>
<!--    TODO CHECK IF CSS WORKS-->

</head>
<body>

<a href="/irregularverbs/home">
    <button> HOME</button>
</a>
<br>
<br>

<p id="previous-answer"></p>
</br>

<div class="inline">
    progress:
    <span th:text="${#ctx.session.progress}"></span>
    ->
    <span th:text="${#ctx.session.limit}"></span>

</div>

<p>Verb1 Verb2 Verb3</p>

<form method="post" th:action="@{/irregularverbs/check-if-two-answers-are-correct}">
    <div id="irregular-verbs-table">
        <span th:text="${#ctx.session.randomIrregularVerb.getVerb1()}"></span>
        <span> <input type="text" name="answer1"/> </span>
        <span>  <input type="text" name="answer2"/> </span>
    </div>
    <button>Submit!</button>
</form>

<script th:inline="javascript">
    let jsonData = /*[[${previousAnswer}]]*/ 'default';
    console.log(jsonData);

    if (JSON.stringify(jsonData) !== '{}') {
        if (jsonData.previousAnswer === 'correct') {
            document.addEventListener('DOMContentLoaded', () => {
                document.getElementById('previous-answer').innerText = 'Last Answer was correct:)';
            })
        } else if (jsonData.previousAnswer === 'incorrect') {
            document.addEventListener('DOMContentLoaded', () => {
                document.getElementById('previous-answer').innerText = 'Last Answer was incorrect:(';
            })
        }
    }
</script>


</body>
</html>