<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<a href="/">
    <button>BACK</button>
</a>

<h1> Hello!:)
    Choose what kind version of irregular verbs you are interested: </h1>

<p>Show me all irregular verbs with translation (PL) <a href="/irregularverbs/allIrregularVerbs">
    <button> Go!</button>
</a></p>

<p>You will be given a verb in Polish, and you need to provide its English translation. <a href="/irregularverbs/polish-translate-english">
    <button> Go!</button>
</a></p>

<p>Choose amount of irregular verbs to practice. <a href="/irregularverbs/setLimit">
    <button> Go!</button>
</a></p>

</body>
</html>