<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet"/>

</head>
<body>

<a href="/">
    <button>BACK</button>
</a>


<span class="title">What type of words you want to train?</span>

<div class="center">
    <form method="post" th:action="@{/words/wordsPOST}">
        <button value="animal" name="categoryName"> animals </button>
    </form>

    <form method="post" th:action="@{/words/wordsPOST}">
        <button value="food" name="categoryName"> food </button>
    </form>

    <form method="post" th:action="@{/words/wordsPOST}">
        <button value="sport" name="categoryName"> sport </button>
    </form>
</div>

</body>
</html>