<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Words</title>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
</head>
<body>

<h1> hej </h1>
<img class="image" th:src="@{${randomThing.getSrc()}}"/>
<!--<p th:text="${randomThing.getPolishName()}"></p>-->
<!--<p th:text="${randomThing.getEnglishName()}"></p>-->

<div class="center">
    <form method="post" th:action="@{/words/check-if-answer-is-correct-animals}" th:object="${randomThing}">
<!--        <input type="hidden" th:value="${randomThing}" name="randomThing25">-->
        English: <input type="text" name="answer">
        <button type="submit">Submit!</button>
    </form>
</div>

</body>
</html>