<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Words</title>
</head>
<body>

<h1> hej </h1>
<!--<img class="image" th:src="@{${randomThing.getSrc()}}"/>-->
<!--<img th:src="@{images/things/animals/donkey.jpg}" alt="donkey">-->
<!--<div class="center">-->
<!--    <form method="post" action="/words/check-if-answer-is-correct-animals">-->
<!--    Englih: <input type="text">-->
<!--    <button type="submit">Submit!</button>-->
<!--    </form>-->
<!--</div>-->

</body>
</html>