<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1> Hello!:)
    Choose what kind version of irregular verbs you are interested: </h1>

<p>Show me all irregular verbs with translation (PL) <a href="/allIrregularVerbs">
    <button> Go!</button>
</a></p>

<p>Let's test myself and fill missing irregular verbs in 2nd and 3rd form. <a href="/">
    <button> Go!</button>
</a></p>

<p>Choose amount of irregular verbs to practice. <a href="/">
    <button> Go!</button>
</a></p>

</body>
</html>